/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    position: 'fixed';
    bottom: 0;
    width: '100%'
  }
  
  
  .footer-logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .footer-nav {
    display: flex;
  }
  
  .footer-nav-item {
    margin-left: 1rem;
    text-decoration:solid;
    color: #fff;
  }
  
  .footer-nav-item:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    display: flex;
    align-items: center;
  }
  
  .footer-social-link {
    display: inline-block;
    margin-left: 1rem;
    color: #fff;
  }
  
  .footer-social-link:hover {
    color: #bbb;
  }
  